.burger {
  position: absolute;
  padding: 11px;
  width: 25px;
  height: 25px;
  font-size: 0;
  top: 7px;
  left: 10px;
  z-index: 200;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  outline-color: transparent;
}
.burger__text {
  font-size: 13px;
  line-height: 15.5px;
  color: #fff;
  position: absolute;
  text-transform: uppercase;
  left: 40px;
  top: 8px;
  font-weight: 600;
}
.burger__layer,
.burger__layer::before,
.burger__layer::after {
  content: "";
  display: block;
  position: absolute;
  cursor: pointer;
  right: 0px;
  top: 10px;
  border-radius: 5px;
  height: 5px;
  width: 30px;
  background: #fff;
}
.burger__layer::before {
  top: -9px;
  left: 0px;
}
.burger__layer::after {
  top: 9px;
  left: 0px;
}