.promo {
  min-height: 798px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-image: url("../img/promo.jpg");
  background-repeat: no-repeat;
  background-position: -5px 150px;
  background-size: 1480px 723px;
  padding-right: 85px;
}
.promo__logotypes {
  margin-left: auto;
  padding-top:260px;
  display: flex;
  flex-direction: column;
}
.promo__img:first-child {
  margin: 0 auto;
}